*{
    margin: 0;
    padding: 0;
    background-color: #F5F8FF;
}

/* font import */

/* noto serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* inter  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* Universal CSS */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

/* default font style */

h1{
    font-family: "Noto Serif", serif;
    font-size: 65px;
    font-weight: bold;
    font-style: normal;
}

h2{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
}

h3{
    font-family: "Noto Serif", serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

p{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
}

/* header section */
header{
    max-width: 1140px;
    margin: 0 auto;
}
nav{
    justify-content: space-between;
    align-items: center;
}


nav div ul {
    list-style: none;
    gap: 48px;
    font-size: 16px;
}

nav div ul li a {
    text-decoration: none;
    color: #8987A1;
}

.home{
    color: #252432;
}

.cart{
    color: #000000;
    gap: 5px;
}

@media screen and (max-width: 576px) {
    /* font default */
    h1, h2 {
        font-size: 24px;
    }

    p{
        font-size: 14px;
    }

    /* header */
    .none{
        display: none;
    }
}