*{
    margin: 0;
    padding: 0;
    background-color: #F5F8FF;
}

/* font import */

/* noto serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* inter  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* Universal CSS */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

body{
    max-width: 1140px;
    margin: 0 auto;
}

span{
    color: #E95A08;
}

button{
    width: 100%;
    height: 50px;
    border: none;
    background-color: #E95A08;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

/* default font style */

h1{
    font-family: "Noto Serif", serif;
    font-size: 65px;
    font-weight: bold;
    font-style: normal;
}

h2{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
}

h3{
    font-family: "Noto Serif", serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

p{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
}

/* header nav section */
nav{
    justify-content: space-between;
    align-items: center;
}

nav div ul {
    list-style: none;
    gap: 48px;
    font-size: 16px;
}

nav div ul li a {
    text-decoration: none;
    color: #8987A1;
}

.home{
    color: #252432;
}

.cart{
    color: #000000;
    gap: 5px;
}

/* header banner */
.banner{
    justify-content: space-between;
    align-items: last baseline;
    margin: 120px auto;
}

.order2{
    flex-direction: column;
    gap: 10px;
}

/* our plant sections */
.plants{
    flex-direction: column;
    gap: 50px;
}
.plant-cards{
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}

.plant-card{
    flex-direction: column;
    gap: 30px;
}

.cards-text {
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.plant-card img{
    width: 100%;
}

.plants-heading{
    flex-direction: column;
    gap: 16px;
    max-width: 888px;
    margin: 0 auto;
    text-align: center;
}

.flowers{
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin: 210px auto;
}

.flowers ul{
    flex-direction: column;
    padding-left: 30px;
    margin-top: 30px;
    gap: 30px;
}

.badge{
    position: absolute;
    width: 286px;
    left: 540px;
    top: 1950px;
    background-color: none;
    color: none;
}

@media screen and (max-width: 576px) {
    
    /* font default */
    h1, h2 {
        font-size: 24px;
    }

    p{
        font-size: 14px;
    }

    /* header */
    .none{
        display: none;
    }

    nav{
        padding: 20px;
    }
    .banner{
        flex-direction: column;
        margin: 28px 0;
    }

    .order1{
        order: 1;
    }

    .order2{
        order: 2;
        padding: 20px;
    }

    .banner-img{
        width: 100%;
    }

    .plants{
        gap: 28px;
        padding: 0 20px;
    }

    .plant-cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .flowers{
        flex-direction: column;
        padding: 20px;
        margin: 42px auto;
        gap: 18px;
    }

    .flowers img{
        width: 100%;
    }
}